<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Pjotters-Chat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>1554489ECA5A37108099D332484872546D293343</string>
				<key>dateExpires</key>
				<string>24/12/2025</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1554489ECA5A37108099D332484872546D293343</string>
						<key>dateExpires</key>
						<string>24/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseFirestoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CBNNULU6XM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>11.6.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1554489ECA5A37108099D332484872546D293343</string>
						<key>dateExpires</key>
						<string>24/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>absl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CBNNULU6XM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.20240116.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1554489ECA5A37108099D332484872546D293343</string>
						<key>dateExpires</key>
						<string>24/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CBNNULU6XM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1554489ECA5A37108099D332484872546D293343</string>
						<key>dateExpires</key>
						<string>24/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>grpcpp.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CBNNULU6XM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>1.65.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>1554489ECA5A37108099D332484872546D293343</string>
						<key>dateExpires</key>
						<string>24/12/2025</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>openssl_grpc.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CBNNULU6XM</string>
						<key>name</key>
						<string></string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.35</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CBNNULU6XM.nl.pieteroosterling.pjotterschat</string>
				<key>com.apple.developer.team-identifier</key>
				<string>CBNNULU6XM</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Pjotters-Chat.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>03d0432d-9b8c-436e-b245-0efaf952ba0b</string>
				<key>dateExpires</key>
				<string>01/01/2025</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: nl.pieteroosterling.pjotterschat</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CBNNULU6XM</string>
				<key>name</key>
				<string></string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
